{% extends 'parts/base.html' %}

{% block title %}Edit{% endblock %}

{% block content %}

    <div class="row">
        <form class="col s6 offset-s3" method="post">
            <div class="row">
                <div class="col s12">
                    <h2>Edit account</h2>
                </div>
            </div>
            {% csrf_token %}
            {% include 'parts/form-errors.html' with form=form %}
            <div class="row">
                <div class="input-field col s12">
                    {% include 'parts/input.html' with input=form.username %}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    {% include 'parts/input.html' with input=form.email %}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    {% include 'parts/input.html' with input=form.first_name %}
                </div>
                <div class="input-field col s6">
                    {% include 'parts/input.html' with input=form.last_name %}
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <button type="submit" class="waves-effect waves-light btn">
                        Change information<i class="material-icons right">done</i>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <a href="/account/edit/password" class="waves-effect waves-light btn">
                        Change your password<i class="material-icons right">mode_edit</i>
                    </a>
                </div>
            </div>
        </form>
    </div>

{% endblock %}