{% extends 'parts/base.html' %}

{% block title %}Logout{% endblock %}

{% block content %}

    <div class="row">
        <div class="col s6 offset-s3">
            <h2>Register</h2>
            <p>You are now registered.</p>
            <div class="row">
                <div class="col s12">
                    <a href="/account/login" class="waves-effect waves-light btn">
                        Login
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}